name: Security Scan

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: '0 0 * * 0'  # Run once a week on Sunday

jobs:
  gosec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: -no-fail -fmt sarif -out results.sarif ./...
          
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
        # This step is conditionally executed as it will only work when running in the 
        # main repo, not in forks or PRs from forks
        if: github.repository == 'tejzpr/webex-go-sdk' && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository) 