name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "0 0 * * *"  # Run at midnight every day

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          stale-issue-message: 'This issue has been inactive for 60 days. It will be closed in 7 days if there is no activity.'
          stale-pr-message: 'This PR has been inactive for 60 days. It will be closed in 7 days if there is no activity.'
          close-issue-message: 'This issue was closed due to inactivity.'
          close-pr-message: 'This PR was closed due to inactivity.'
          days-before-stale: 60
          days-before-close: 7
          exempt-issue-labels: 'pinned,security,bug'
          exempt-pr-labels: 'pinned,security,in-progress' 